<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Spinzo</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        #nav_checkUrl{
            left: 35vw;
        }

        :root {
    --main-color: #46ff5c !important;
    --main_gradient-color: linear-gradient(0deg, #21be34 0%, #6afa7b 100%)!important;
    --main_gradient-color2: linear-gradient(180deg, #1ebb31 0%, #6afa7b 100%);
    --light-main_gradient-color: var(--main_gradient-color);
    --text_white: #fff;
    --light-bg_white: #fff;
    --light-main-color: var(--main-color);
    --norm_red-color: #46ff5c!important;
    --norm_green-color: #18B660;
    --norm_secondary-color: #FEAA57;
    --norm_Purple-color: #C86EFF;
    --norm_bule-color: #6EA8F4;
    --button_dis_color: linear-gradient(90deg, #CCCEDC 15.38%, #CDCFDD 98.73%);
    --text_color_L1: #001534;
    --text_color_L2: #05360b!important;
    --text_color_L3: #B6BCC8;
    --text_color_L4: #FFF;
    --bg_color_L1: #F2F2F1;
    --bg_color_L2: #26252a!important;
    --bg_color_L3: #F6F6F6;
    --Dividing-line_color: #E1E1E1;
    --sheet_nva_color: var(--main-color);
    --sheet_detail_bg_color: #5d5a66!important;
    --pop_bg-color: linear-gradient(180deg, #46ff5c 0%, #ff9a8e 68.59%);
    --iconSecondary: rgba(24, 182, 96, .3);
    --van-sidebar-text-color: var(--main-color);
    --van-picker-background: var(--bg_color_L2);
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background: var(--bg_color_L1) --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-circle-layer-color: var(--bg_color_L3);
    --van-calendar-range-edge-background: var(--main-color);
    --van-button-primary-background: var(--main-color);
    --van-button-primary-border-color: var(--main-color);
}

         .promotion-mian[data-v-baf81808] {
    padding-top: .4rem;
    width: 94%;
    margin-left: 3%;
}

 .promotion-mian .promotion-mian__title[data-v-baf81808] {
    text-align: center;
    margin-bottom: .66667rem
}

 .promotion-mian .promotion-mian__title h1[data-v-baf81808] {
    margin-bottom: .2rem;
    color: var(--main-color);
    font-size: .48rem;
    line-height: .48rem;
    font-weight: 600
}

.promotion-mian svg{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0px;
}

 .promotion-mian .promotion-mian__title p[data-v-baf81808] {
    color: var(--text_color_L2);
    font-size: .37333rem
}

 .promotion-mian .promotion-box[data-v-baf81808] {
    position: relative;
    padding: .57333rem .24rem .33333rem;
    border-radius: .21333rem;
    background: var(--bg_color_L2);
    margin-bottom: .66667rem
}

 .promotion-mian .promotion-box .promotion-title[data-v-baf81808] {
    position: absolute;
    top: .13333rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    width: 2.13333rem;
    height: .53333rem;
    color: #000;
    font-size: .32rem;
    text-align: center;
    line-height: .53333rem;
    z-index: 1
}

 .promotion-mian .promotion-box .promotion-txt[data-v-baf81808] {
    color: #fff;
    font-size: .32rem;
    letter-spacing: .01333rem;
    line-height: .50667rem;
    padding-top: .46667rem
}

 .promotion-mian .promotion-box .promotion-txt .txt[data-v-baf81808] {
    color: var(--norm_red-color)
}

 .promotion-mian .promotion-box[data-v-baf81808]:nth-of-type(6) {
    margin-bottom: 0;
    border-bottom: none
}

 .promotion-mian .promotion-box:nth-of-type(6) .promotion-txt[data-v-baf81808] {
    padding-bottom: 1.06667rem
}

 .promotion-mian .promotion-grade[data-v-baf81808] {
    overflow: hidden;
    margin-bottom: .66667rem
}

 .promotion-mian .promotion-grade-th[data-v-baf81808] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 1.33333rem;
    color: #000;
    font-size: .34667rem;
    line-height: 1.33333rem;
    background: var(--main_gradient-color);
    border-radius: .21333rem .21333rem 0 0;
    text-align: center
}

 .promotion-mian .promotion-grade-th .item[data-v-baf81808] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

 .promotion-mian .promotion-grade-tr[data-v-baf81808] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: calc(100% + .01333rem);
    background-color: var(--bgDark-3, var(--bg_color_L2));
    margin: 0 -.01333rem;
    color: #fff;
}

 .promotion-mian .promotion-grade-tr[data-v-baf81808]:nth-child(odd) {
    background: var(--sheet_detail_bg_color)
}

 .promotion-mian .promotion-grade-tr .item[data-v-baf81808] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 33.3%;
    height: .93333rem;
    padding: .06667rem 0;
    font-size: .34667rem;
    margin-bottom: -.01333rem;
    margin-right: -.01333rem
}

 .promotion-mian .promotion-content[data-v-baf81808] {
    width: 100%;
    margin-bottom: .53333rem;
    overflow: hidden
}

 .promotion-mian .promotion-content_title[data-v-baf81808] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .28rem;
    font-size: .37333rem;
    font-weight: 600
}

 .promotion-mian .promotion-content_title[data-v-baf81808]:before {
    content: "";
    display: block;
    width: .08rem;
    height: .4rem;
    margin-right: .22667rem;
    background-color: var(--main-color)
}

.van-toast[data-v-3b74cce6] {
    word-break: break-word!important
}

.cg-default.van-button[data-v-3b74cce6] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-3b74cce6] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-3b74cce6] {
    height: 80%
}

.promotionShare__container[data-v-3b74cce6] {
    padding-block:0 1.49333rem}

.promotionShare__container[data-v-3b74cce6] .van-nav-bar {
    background-color: #f6f6f6
}

.promotionShare__container[data-v-3b74cce6] .van-nav-bar .van-nav-bar__content .van-nav-bar__left .van-icon,.promotionShare__container[data-v-3b74cce6] .van-nav-bar .van-nav-bar__content .van-nav-bar__title {
    color: var(--text_color_L1)
}

.promotionShare__container-tips[data-v-3b74cce6] {
    margin-block:.53333rem;color: var(--text_color_L2);
    font-size: .37333rem;
    text-align: center
}

.promotionShare__container .swiper[data-v-3b74cce6] {
    width: 100%
}

.promotionShare__container .swiper-wrapper .swiper-slide[data-v-3b74cce6] {
    width: 6.93333rem;
    height: 11.46667rem;
    text-align: center
}

.promotionShare__container-slogan[data-v-3b74cce6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-block:1.06667rem .98667rem;font-size: .42667rem
}

.promotionShare__container-slogan p[data-v-3b74cce6] {
    color: var(--text_color_L1)
}

.promotionShare__container-slogan p[data-v-3b74cce6]:first-of-type {
    margin-right: .72rem
}

.promotionShare__container-slogan p span[data-v-3b74cce6] {
    color: var(--norm_red-color);
    font-weight: 700
}

.promotionShare__container-buttons[data-v-3b74cce6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .37333rem
}

.promotionShare__container-buttons div[data-v-3b74cce6] {
    width: 8.8rem;
    height: .93333rem;
    color: var(--text_color_L4);
    font-size: .4rem;
    text-align: center;
    line-height: .93333rem;
    border-radius: 9rem
}

.promotionShare__container-buttons div.share[data-v-3b74cce6] {
    background: var(--main_gradient-color)
}

.promotionShare__container-buttons div.cpy[data-v-3b74cce6] {
    color: var(--main-color);
    border: .01333rem solid var(--main-color)
}

.promotionShare__container-swiper[data-v-3b74cce6] {
    position: relative;
    background: url(/assets/png/poster-ce19704f.png) no-repeat center;
    background-size: 100% 100%;
    height: 100%
}

.promotionShare__container-swiper .sContent[data-v-3b74cce6] {
    padding: .53333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.promotionShare__container-swiper .sContent .logo[data-v-3b74cce6] {
    width: 2.21333rem;
    height: .50667rem
}

.promotionShare__container-swiper .sContent .head1[data-v-3b74cce6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: .26667rem
}

.promotionShare__container-swiper .sContent .head1>span[data-v-3b74cce6]:nth-of-type(1) {
    font-family: Kumar One;
    font-style: normal;
    font-weight: 400;
    font-size: .42667rem;
    line-height: .76rem;
    color: #fff
}

.promotionShare__container-swiper .sContent .head1>span[data-v-3b74cce6]:nth-of-type(2),.promotionShare__container-swiper .sContent .head1>span[data-v-3b74cce6]:nth-of-type(3) {
    background: url(/assets/png/bg1-d6d02e9f.png) no-repeat center;
    background-size: 100% 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: .34667rem;
    line-height: .41333rem;
    color: #f24544;
    padding: .08rem .13333rem
}

.promotionShare__container-swiper .sContent .head2[data-v-3b74cce6] {
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 900;
    font-size: .53333rem;
    line-height: .53333rem;
    letter-spacing: .05333rem;
    margin-left: .08rem;
    text-align: center;
    color: #fff;
    margin-top: .13333rem;
    word-break: break-all
}

.promotionShare__container-swiper .sContent .head2>span[data-v-3b74cce6] {
    color: red!important
}

.promotionShare__container-swiper .sContent .head3[data-v-3b74cce6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: .32rem
}

.promotionShare__container-swiper .sContent .head3>div[data-v-3b74cce6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    font-size: .34667rem;
    line-height: .42667rem;
    border: .01333rem solid #fff4c6;
    border-radius: .13333rem;
    min-width: 2.4rem;
    min-height: 1.6rem;
    gap: .08rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Tutorial </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i class="fa-duotone fa-calendar-lines fa-fade fa-lg" style="--fa-primary-color: #fff; --fa-secondary-color: #fff;"></i>
                    </div>
                </div>
            </div>

            <div data-v-baf81808="" class="promotion-mian">
                <div data-v-baf81808="" class="promotion-mian__title">
                   <h1 data-v-baf81808="">【Promotion partner】program</h1>
                   <p data-v-baf81808="">This activity is valid for a long time</p>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">01</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      <p data-v-baf81808="">There are 6 subordinate levels in inviting friends, if A invites B, then B is a level 1 subordinate of A. If B invites C, then C is a level 1 subordinate of B and also a level 2 subordinate of A. If C invites D, then D is a level 1 subordinate of C, at the same time a level 2 subordinate of B and also a level 3 subordinate of A.</p>
                      <!-- {{ item.content }} -->
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">02</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      <p data-v-baf81808="">When inviting friends to register, you must send the invitation link provided or enter the invitation code manually so that your friends become your level 1 subordinates.</p>
                      <!-- {{ item.content }} -->
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">03</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      <p data-v-baf81808="">The invitee registers via the inviter's invitation code and completes the deposit, shortly after that the commission will be received immediately</p>
                      <!-- {{ item.content }} -->
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">04</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      <p data-v-baf81808="">The calculation of yesterday's commission starts every morning at 01:00. After the commission calculation is completed, the commission is rewarded to the wallet and can be viewed through the commission collection record.</p>
                      <!-- {{ item.content }} -->
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">05</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      <p data-v-baf81808="">Commission rates vary depending on your agency level on that day<br>Number of Teams: How many downline deposits you have to date. <br>Team Deposits: The total number of deposits made by your downline in one day. <br>Team Deposit: Your downline deposits within one day.</p>
                      <!-- {{ item.content }} -->
                   </div>
                </div>
                <!-- 等级列表 -->
                <div data-v-baf81808="" class="promotion-grade">
                   <div data-v-baf81808="" class="promotion-grade-th">
                      <div data-v-baf81808="" class="item">Rebate level</div>
                      <div data-v-baf81808="" class="item">Team Number</div>
                      <div data-v-baf81808="" class="item">Team Betting</div>
                      <div data-v-baf81808="" class="item">Team Deposit</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L0</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">0</div>
                      <div data-v-baf81808="" class="item">0</div>
                      <div data-v-baf81808="" class="item">0</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L1</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">10</div>
                      <div data-v-baf81808="" class="item">500K</div>
                      <div data-v-baf81808="" class="item">100K</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L2</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">15</div>
                      <div data-v-baf81808="" class="item">1,000K</div>
                      <div data-v-baf81808="" class="item">200K</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L3</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">30</div>
                      <div data-v-baf81808="" class="item">2.50M</div>
                      <div data-v-baf81808="" class="item">500K</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L4</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">45</div>
                      <div data-v-baf81808="" class="item">3.50M</div>
                      <div data-v-baf81808="" class="item">700K</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L5</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">50</div>
                      <div data-v-baf81808="" class="item">5M</div>
                      <div data-v-baf81808="" class="item">1,000K</div>
                   </div>
                   <div data-v-baf81808="" class="promotion-grade-tr">
                      <div data-v-baf81808="" class="item">
                         <div data-v-baf81808="" class="icon-LV"><span data-v-baf81808="" class="txt">L6</span></div>
                      </div>
                      <div data-v-baf81808="" class="item">60</div>
                      <div data-v-baf81808="" class="item">10M</div>
                      <div data-v-baf81808="" class="item">2M</div>
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">06</div>
                   <div data-v-baf81808="" class="promotion-txt">
                      The commission percentage depends on the membership level. The higher the membership level, the higher the bonus percentage. Different game types also have different payout percentages. 
                      <p data-v-baf81808="">The commission rate is specifically explained as follows</p>
                      <div data-v-baf81808="" class="txt" onclick="location.href='/promotion/rebate-ratio'">View rebate ratio &gt;&gt;</div>
                   </div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">07</div>
                   <div data-v-baf81808="" class="promotion-txt">TOP20 commission rankings will be randomly awarded with  a separate bonus</div>
                </div>
                <div data-v-baf81808="" class="promotion-box ruleHead">
                   <svg data-v-baf81808="" class="svg-icon icon-ruleHead">
                      <use xlink:href="#icon-ruleHead"></use>
                   </svg>
                   <div data-v-baf81808="" class="promotion-title">08</div>
                   <div data-v-baf81808="" class="promotion-txt">The final interpretation of this activity belongs to Spinzo</div>
                </div>
             </div>

            <!-- <div data-v-7c8bbbf4="" class="promotion">
                <div data-v-7c8bbbf4="" class="tab">
                    <ul data-v-7c8bbbf4="" class="c-row c-row-between">
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion'">Data</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/myTeam'">My Team</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/promotionDes'">History</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/tutorial'" class="action block-click">Tutorial</li>
                    </ul>
                </div>
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Referral Condition For Level Commission</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="hd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Levels</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Referrals</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Commission</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Recharge</div>
                        </div>
                        
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 1</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">600</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 2</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1500</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 3</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">8</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2400</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 4</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">11</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">3300</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">14</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">4200</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 6</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">17</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5100</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 7</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">20</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">6000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 8</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">23</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">6900</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 9</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">26</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.25%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">7800</div>
                        </div>
                         <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 10</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">29</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">8700</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 11</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">32</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">9600</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 12</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">35</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10500</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 13</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">38</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">11400</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 14</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">41</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">12300</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 15</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">44</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0.5%</div> 
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">13200</div>
                        </div>
                    </div>
                   <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">Commission Calculation Method</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="box" style="width: 420px;">
                            <div data-v-7c8bbbf4="" class="hd dl van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">
                                    Hierarchy<p data-v-7c8bbbf4="" class="txt">Rebate Ratio</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 1<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 2<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 3<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 4<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                            </div> 
                        </div> -->
                    </div>
                </div>
            </div>
            <!---->
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $('.nav .van-tabbar-item:eq(0) img').attr('src', '/images/home1.png');
        $('.nav .van-tabbar-item:eq(0) .name').removeClass('action');
        $('.nav .van-tabbar-item:eq(2) .name').addClass('action');
        function RosesRender(datas) {
            let html = datas.map((e) => {
                let html = '';
                return html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl  ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`;
            });
            $('.table:eq(1) .box').append(html);

            $('.table:eq(1) .box').append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
        }
        $.ajax({
            type: "POST",
            url: "/api/webapi/promotion",
            data: {

            },
            dataType: "json",
            success: function (response) {
                if (response.status === false) return location.href = '/home';
                RosesRender(response.level);
                console.log(response.info.code);
                $('.btn-box .btn:eq(0)').attr('data-clipboard-text', response.info[0].code);
                $('.btn-box .btn:eq(1)').attr('data-clipboard-text', window.location.hostname + `/register?r_code=${response.info[0].code}`);
            }
        });
    </script>
</body>

</html>