<div id="preloader">
    <div class="loadingPlaceholder"></div>
</div>
<nav class="main-header navbar navbar-expand navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar" style="margin-top: 0;">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/avatar.svg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Welcome Back Admin</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
             <li class="nav-item">
                    <a href="/admin/manager/dashboard" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Wingo</p>
                        <span class="right badge badge-primary">Vip</span>
                    </a>
                </li>
               
                <li class="nav-item">
                    <a href="/admin/manager/trx" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>TRX</p>
                        <span class="right badge badge-danger">New</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/5d" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>5D</p>
                        <span class="right badge badge-danger">New</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/k3" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>K3</p>
                        <span class="right badge badge-danger">New</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/members" class="nav-link">
                        <i class="nav-icon fa fa-user-circle"></i>
                        <p>Members</p>
                    </a>
                </li>

                
                <!-- Bonus Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                            Achivers
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Top 5 Achievers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Game Engagement</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Cash Flow Day wise (Receiving)</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Cash Flow Day wise (Out going)</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Agents Engagement</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Game Engagement (like, wingo, TRX, Aviator, Casino etc.)</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>

                                
                <!-- Admin Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                            ADMIN
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link" id="bonusToggle">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>SUB-ADMIN</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link"  id="bonusToggle">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>AGENT<i class="right fas fa-angle-down" id="bonusIcon"></i></p>
                            </a>
                            <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:10px;">
                                <li class="nav-item">
                                    <a href="/admin/manager/#" class="nav-link bonus-link" id="bonusToggle">
                                        <i class="nav-icon fa fa-gift"></i>
                                        <p>ACTIVE USER</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/manager/#" class="nav-link bonus-link" id="bonusToggle">
                                        <i class="nav-icon fa fa-gift"></i>
                                        <p>ONGOING GAME DETAILS</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/manager/#" class="nav-link bonus-link" id="bonusToggle">
                                        <i class="nav-icon fa fa-gift"></i>
                                        <p>REVENUE</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/manager/#" class="nav-link bonus-link" id="bonusToggle">
                                        <i class="nav-icon fa fa-gift"></i>
                                        <p>TOP GAMES/PLAYER</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Recommendation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Graph</p>
                            </a>
                        </li>
                        
                        
                    </ul>
                </li>
                                
                <!-- Game Report Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                            Game Report
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>DAILY/WEEKLY/MONTHLY REPORTS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>REVENUE BY GAME / TIME / USER TIER</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>BONUS VS DEPOSIT ANALYSIS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>RETENTION METRICS (DAU, WAU,MAU)</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                                
                <!-- Complaint Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                            Complaint
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>TICKET RAISE BY PLAYERS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>ASSIGN TICKET TO STAFF</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>STATUS TRACKING</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>SLA ALERTS</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                                
                <!--  LEGAL & COMPLIANCE Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                             LEGAL & COMPLIANCE
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/#" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>TERMS / PRIVACY MANAGEMENT</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="/api/webapi/admin/add-user" class="nav-link">
                        <i class="nav-icon fa fa-user-circle"></i>
                        <p>Add User</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/ctv" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>Collaborator</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/statistical" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Create Collaborator</p>
                    </a>
                </li>
                 <!-- <li class="nav-item">
                    <a href="/admin/manager/roimanagment" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>BOT AI PACKAGE</p>
                    </a>
                </li> -->
                 <!-- <li class="nav-item">
                    <a href="/admin/manager/create-roi-page" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Create ROI</p>c
                    </a>
                </li> -->
                 <!-- <li class="nav-item">
                    <a href="/admin/manager/roi-setting" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>BOT AI LEVEL</p>
                    </a>
                </li> -->
                 <!-- <li class="nav-item">
                    <a href="/admin/manager/roi-recode-history" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>AI Per Day Bonus</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="/admin/manager/recharge" class="nav-link">
                        <i class="nav-icon fa fa-credit-card-alt"></i>
                        <p>Browse Recharge</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/crpto-recharge-details" class="nav-link">
                        <i class="nav-icon fa fa-credit-card-alt"></i>
                        <p>Browse Recharge(Crpto)</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/withdraw" class="nav-link">
                        <i class="nav-icon fa fa-bank"></i>
                        <p>Browse Withdrawal</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/crpto-withdraw-details" class="nav-link">
                        <i class="nav-icon fa fa-bank"></i>
                        <p>Browse Withdrawal (Crpto)</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/levelSetting" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Level Setting</p>
                    </a>
                </li>   
                <li class="nav-item">
                    <a href="/admin/manager/ranking-setting" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Rank Level Setting</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/manual-salary" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Manual Salary Create</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/CreatedSalaryRecord" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Created Salary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/webapi/admin/salary-record" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Salary Records</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/webapi/admin/salary-recode-history" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Salary History</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/rechargeRecord" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <p>Recharge (Approved)</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/withdrawRecord" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <p>Withdrawal (Approved)</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/payment_details" class="nav-link">
                        <i class="nav-icon fa fa-bank"></i>
                        <p>Payment Managment</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/game-issue" class="nav-link">
                        <i class="nav-icon fa fa-bank"></i>
                        <p>Game Issues</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/manager/create-notice" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>Created Notice</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/create-invitation-bonus" class="nav-link">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>Invitation Bonus</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/createBonus" class="nav-link">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>Create Giftcode</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manager/getGiftCodeHistory" class="nav-link">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>Giftcode History</p>
                    </a>
                </li>
                
                <!-- Bonus Dropdown -->
                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" id="bonusToggle">
                        <i class="nav-icon fa fa-gift"></i>
                        <p>
                            Bonus
                            <i class="right fas fa-angle-down" id="bonusIcon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="bonusMenu" style="display: none;margin-left:5px;">
                        <li class="nav-item">
                            <a href="/admin/manager/bonus" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Signup Bouns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/recharge-bonus" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Recharge Bouns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/attendance-bonus" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Attendance Bouns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/bet-commission" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Play and earn Bonus</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/daily-salary-betting" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Daily Salary betting</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager/reffral_bonus" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Reffral Bonus</p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="/admin/manager/level-income-bonus" class="nav-link bonus-link">
                                <i class="nav-icon fa fa-gift"></i>
                                <p>Level Income Bonus</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                
                

                
                <li class="nav-item">
                    <a href="/admin/manager/settings" class="nav-link">
                        <i class="nav-icon fa fa-cog"></i>
                        <p>Settings</p>
                    </a>
                </li>
              <!--   <li class="nav-item">
                    <a href="/admin/manager/api" class="nav-link">
                        <i class="nav-icon fa fa-link" aria-hidden="true"></i>
                        <p>API</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fa fa-sign-out" aria-hidden="true"></i>
                        <p>Go To Website</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var currentUrl = window.location.pathname;
    var bonusMenu = document.getElementById("bonusMenu");
    var bonusToggle = document.getElementById("bonusToggle");
    var bonusIcon = document.getElementById("bonusIcon");
    var bonusLinks = document.querySelectorAll(".bonus-link");

    var isActive = false;

    // Check if any bonus link matches the current URL
    bonusLinks.forEach(function (link) {
        if (link.getAttribute("href") === currentUrl) {
            link.classList.add("active");
            link.style.color = "white";
            isActive = true;
        }
    });

    // If a link is active, show the menu and update icon
    if (isActive) {
        bonusMenu.style.display = "block";
        bonusIcon.classList.replace("fa-angle-down", "fa-angle-up");
    }

    // Toggle bonus dropdown on click
    bonusToggle.addEventListener("click", function (event) {
        event.preventDefault();
        var isVisible = bonusMenu.style.display === "block";
        
        bonusMenu.style.display = isVisible ? "none" : "block";
        bonusIcon.classList.toggle("fa-angle-down", isVisible);
        bonusIcon.classList.toggle("fa-angle-up", !isVisible);
    });
});
</script>