<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Spinzo</title>
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon">
    <style>
        html,
		body {
			height: 100%;
			width: 100%;
			background-color: #090909;
			padding: 0;
			margin: 0;
		}
        .block-click {
            pointer-events: none;
        }

        .mian[data-v-11ffe290] {
                background-color: #000;
        }

        .mian .check-box .list .item[data-v-11ffe290] {
            background: #26252a;
            color: #fff;
        }
        .mian .check-box .list .item.action .num[data-v-11ffe290],
        .mian .check-box .list .item.action .txt[data-v-11ffe290],
        .mian .check-box .list .item .num[data-v-11ffe290],
        .mian .check-box .list .item .txt[data-v-11ffe290] {
            color: #fff;
        }

        .dailySignIn__container-content[data-v-c4f3162c] {
    padding-inline: .32rem;
}

            .mian .box .list .item .number .btn[data-v-3966082f] {
                padding: .13333rem .26667rem;
                font-size: .32rem;
                margin-left: .26667rem;
                border-radius: .13333rem;
                background-color: #ffce1f;
                color: #fff
            }

            .mian .box .list .item .state[data-v-3966082f] {
                text-align: center;
                font-weight: 600
            }

            .mian .box .list .item .txt[data-v-3966082f] {
                text-align: center
            }


.dailySignIn__container-hero[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            height: 6.13333rem;
            margin-bottom: .42667rem;
            padding: 0 .4rem .26667rem;
            background: url(/assets/png/headerBg-c5504bca.png) no-repeat center/cover,#26252a no-repeat center/cover;
            /* background-color: #FFF; */
            background-position: bottom;
            }

            .dailySignIn__container-hero__header[data-v-c4f3162c] {
            color: #fff;
            line-height: 0.7rem;
            }

            .dailySignIn__container-hero__header h1[data-v-c4f3162c] {
            font-size: .53333rem;
            }
            .dailySignIn__container-hero__header div[data-v-c4f3162c] {
                display: inline-block;
    width: 4rem;
    margin-bottom: .21333rem;
    padding: .21333rem .41333rem .21333rem .14667rem;
    color: #f95959;
    font-size: .2933rem;
    line-height: .32rem;
    background: #FFF;
    font-weight: 600;
    -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    word-break: break-all;
        }
       
          
           
            .dailySignIn__container-hero__header h1[data-v-c4f3162c] {
            font-size: .53333rem;
            }
            .dailySignIn__container-hero__header h1[data-v-c4f3162c]:last-of-type {
    margin-bottom: 0;
    font-size: .50667rem;
    font-weight: 700;

}

            .dailySignIn__container-hero__header p[data-v-c4f3162c]:first-of-type {
            width: 5.33333rem;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            }
            

            .dailySignIn__container-hero__footer[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-top: .53333rem;
            color: #000;
                
            }

            .dailySignIn__container-content[data-v-c4f3162c] {
            padding-inline: .00rem;
            }

           
            .dailySignIn__container-content__wrapper[data-v-c4f3162c] {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: .2rem;
            }
            .dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 2.98667rem;
            height: 2.93333rem;
            background: url(/images/Unsigned-63d76784.png) no-repeat;
            background-position: center;
            background-size: 96% 100%;}

            .dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 2.98667rem;
            height: 2.93333rem;
            background: url(/images/Unsigned-63d76784.png) no-repeat;
            background-position: center;
            background-size: 96% 100%;
            }
            .dailySignIn__container-content__wrapper-block>span[data-v-c4f3162c] {
            color: #000;
            font-size: .34667rem;
            }

            .dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            }
      
.dailySignIn__container-hero__footer button[data-v-c4f3162c] {
    width: 3.53333rem;
    height: .8rem;
    padding: .18667rem 0;
    color: #8f5206;
    font-size: .34667rem;
    line-height: .32rem;
    border: none;
    border-radius: 9rem;
    background: -webkit-linear-gradient(top, #FAE59F 0%, #C4933F 100%);
    background: linear-gradient(180deg, #FAE59F 0%, #C4933F 100%);
    cursor: pointer;
}
.dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 2.98667rem;
    height: 2.93333rem;
    background: url(/images/Unsigned-63d76784.png) no-repeat;
    background-position: center;
    background-size: 96% 100%;
}
.dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dailySignIn__container-content__wrapper-block img[data-v-c4f3162c] {
    max-width: 100%;
}
.dailySignIn__container-content__wrapper-block>img[data-v-c4f3162c] {
    width: 1.06667rem;
    height: 1.06667rem;
    margin-block: .18667rem .27773rem;
}
.dailySignIn__container-content__wrapper-block img[data-v-c4f3162c] {
    max-width: 100%;
}
.dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dailySignIn__container-content__wrapper-block__header img[data-v-c4f3162c] {
    width: 2.98667rem;
    height: .82667rem;
    /* visibility: hidden; */
}
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
/* .dailySignIn__container-content[data-v-c4f3162c] {
    padding-inline: .01rem;
} */
.dailySignIn__container-content__wrapper-block>span[data-v-c4f3162c] {
    color: #000;
    font-size: .34667rem;
}
.dailySignIn__container-content__wrapper-block__header span[data-v-c4f3162c] {
    position: absolute;
    top: calc(50% - .02667rem);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000;
    font-size: .42667rem;
    line-height: 1;
}
.dailySignIn__container-content__wrapper-block[data-v-c4f3162c]:last-of-type {
    position: relative;
    width: 100%;
    grid-column: 1 / -1;
    background: url(/images/day7Bg-2dc29da0.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.dailySignIn__container-content__wrapper-block:last-of-type p[data-v-c4f3162c] {
    color: #000;
    line-height: .66667rem;
    font-size: .4rem;
}
.dailySignIn__container-content__footer button[data-v-c4f3162c] {
    width: 100%;
    height: 100%;
    padding-block: .10667rem;
    color: #fff;
    font-size: .48rem;
    border: none;
    border-radius: 9rem;
    background: -webkit-linear-gradient(top, #f95959 0%, #ff9a8e 100%);
    background: linear-gradient(90deg,#f95959 0%,#ff9a8e 100%);
}

.dailySignIn__container-content__footer[data-v-c4f3162c] {
    width: 100%;
    height: 1.06667rem;
    margin-top: 1.45333rem;
    padding: 0 1.13333rem;
    text-align: center;
}
.dailySignIn__container-content__wrapper-block:last-of-type>div>span[data-v-c4f3162c] {
    color: #000;
    font-size: .4rem;
}
.dailySignIn__container-content__wrapper-block:last-of-type>div[data-v-c4f3162c] {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .36rem;
}

 .btnR {
    width: 3.53333rem;
    height: .8rem;
    padding: .18667rem 0;
    color: #fff;
    font-size: .34667rem;
    line-height: .32rem;
    border: none;
    border-radius: 9rem;
    background: -webkit-linear-gradient(top, #FFBD40 0%, #FF7F3D 100%);
    background: linear-gradient(180deg, #FFBD40 0%, #FF7F3D 100%);
    cursor: pointer;
    text-align: center;
}
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-11ffe290="" class="mian">
            <div data-v-106b99c8="" data-v-11ffe290="" class="navbar action">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Rewards </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-11ffe290="" class="check-box">
                <!-- <div data-v-11ffe290="" class="check-header c-tc">
                    <h4 data-v-11ffe290="" class="tit m-b-5">7 Days Recharge Rewards</h4>
                    <div data-v-11ffe290="" class="tit c-tc c-row c-row-middle-center"> 
                        <div data-v-11ffe290="" class="frequency c-row c-row-middle"> Receive: <p data-v-11ffe290=""
                                class="c-row">Day<span data-v-11ffe290="" class="num">0</span></p>
                        </div>
                    </div> 
                    <div data-v-11ffe290="" class="c-row c-row-middle-center p-l-20 p-r-20">
                        <div data-v-11ffe290="">
                            <p data-v-11ffe290="" class="txt" onclick="location.href='/checkDes'">Rule</p>
                             <p data-v-11ffe290="" class="txt" onclick="location.href='/checkRecord'">Registration Profile</p>
                        </div>
                    </div>
                </div> -->
                <div data-v-3966082f="" class="box">
                    <div data-v-3966082f="" class="list m-b-20">
                       <div data-v-3966082f="" role="feed" class="van-list">
                          <div class="lisys"></div>
                          <div data-v-a9660e98="" class=" p-b-5">
                             <div data-v-c4f3162c="" class="dailySignIn__container-hero">
                                <div data-v-c4f3162c="" class="dailySignIn__container-hero__header">
                                   <h1 data-v-c4f3162c="">Attendance bonus</h1>
                                   <p data-v-c4f3162c="">Get rewards based on your consecutive login days.</p>
                                   <div data-v-c4f3162c="">Attendance consecutive 0 Days</div>
                                   <p data-v-c4f3162c="">Accumulated</p>
                                   <h1 data-v-c4f3162c="">₹<span id="accumulatedBonus">0.0</span></h1>
                                   <div data-v-11ffe290="" class="c-row c-row-middle-center p-l-20 p-r-20" style="display: contents;">
                                    <div data-v-11ffe290=""  style="display: flex; justify-content: space-between;">
                                        <p data-v-11ffe290="" class="txt btnR" onclick="location.href='/checkDes'">Rule</p>
                                         <p data-v-11ffe290="" class="txt btnR" onclick="location.href='/checkRecord'">Registration Profile</p>
                                    </div>

                                </div>
                                </div>
                                
                                <!-- <div data-v-c4f3162c="" class="dailySignIn__container-hero__footer">
                                   <span>Unrebate - ₹<span id="bonus">0.0</span></span>
                                </div> -->
                                
                             </div>
                           
                          </div>
                       </div>
                    </div>
                    
                 </div> 
                <div data-v-11ffe290="" class="list c-row c-flex-warp">
                    <div data-v-11ffe290="" data-dpr="1" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center">₹&nbsp;<span
                                data-v-11ffe290="" class="des"> 15</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="2" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center">₹&nbsp; <span
                                data-v-11ffe290="" class="des">50</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="3" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center"> ₹&nbsp;<span
                                data-v-11ffe290="" class="des">100</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="4" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center"> ₹&nbsp;<span
                                data-v-11ffe290="" class="des">300</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="5" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center"> ₹&nbsp;<span
                                data-v-11ffe290="" class="des">500</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="6" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center"> ₹&nbsp;<span
                                data-v-11ffe290="" class="des">1000</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                    <div data-v-11ffe290="" data-dpr="7" class="item action">
                        <!---->
                        <div data-v-11ffe290="" class="num c-row c-row-middle c-row-center"> ₹&nbsp;<span
                                data-v-11ffe290="" class="des">5000</span></div><img data-v-11ffe290=""
                            src="/images/coin-294b6998.png" class="img"><span data-v-11ffe290="" class="txt">Get it now</span>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
				<div data-v-7692a079="" class="van-loading van-loading--circular">
					<span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/png/image.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/logo.png"></image>
                            </g>
                        </svg>
                    </span>
				</div>
			</div>
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('.list .item').click(function (e) { 
            e.preventDefault();
            $(this).addClass('block-click');
            let data = $(this).attr('data-dpr');
            let wd = $(this);
            $.ajax({
                type: "POST",
                url: "/api/webapi/checkIn",
                data: {
                    data: data,
                },
                dataType: "json",
                success: function (response) {
                    alertMess(response.message, wd);
                    if(response.status === false) return;
                    wd.removeClass('action');
                    wd.find('.txt').text('Received');
                }
            });
        });
        $.ajax({
            type: "POST",
            url: "/api/webapi/checkIn",
            data: {

            },
            dataType: "json",
            success: function (response) {
                let data = response.datas[0];
                if(data.total1 == 0) {
                    $('.list .item:eq(0)').removeClass('action');
                    $('.list .item:eq(0)').addClass('block-click');
                    $('.list .item:eq(0) .txt').text('Received');
                }
                if(data.total2 == 0) {
                    $('.list .item:eq(1)').removeClass('action');
                    $('.list .item:eq(1)').addClass('block-click');
                    $('.list .item:eq(1) .txt').text('Received');
                }
                if(data.total3 == 0) {
                    $('.list .item:eq(2)').removeClass('action');
                    $('.list .item:eq(2)').addClass('block-click');
                    $('.list .item:eq(2) .txt').text('Received');
                }
                if(data.total4 == 0) {
                    $('.list .item:eq(3)').removeClass('action');
                    $('.list .item:eq(3)').addClass('block-click');
                    $('.list .item:eq(3) .txt').text('Received');
                }
                if(data.total5 == 0) {
                    $('.list .item:eq(4)').removeClass('action');
                    $('.list .item:eq(4)').addClass('block-click');
                    $('.list .item:eq(4) .txt').text('Received');
                }
                if(data.total6 == 0) {
                    $('.list .item:eq(5)').removeClass('action');
                    $('.list .item:eq(5)').addClass('block-click');
                    $('.list .item:eq(5) .txt').text('Received');
                }
                if(data.total7 == 0) {
                    $('.list .item:eq(6)').removeClass('action');
                    $('.list .item:eq(6)').addClass('block-click');
                    $('.list .item:eq(6) .txt').text('Received');
                }
                
            }
        });
    </script>
    <script>
        $(window).on('load', function() {
			$('.Loading').fadeOut(0);
		});
    </script>
</body>

</html>