<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Spinzo</title>
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon">
    <style>
        html,
		body {
			height: 100%;
			width: 100%;
			background-color: #090909;
			padding: 0;
			margin: 0;
		}
        .block-click {
            pointer-events: none;
        }
        
        
        .mian .check-box .check-header[data-v-11ffe290] {
    background: url(/images/bg.png) no-repeat 50%;
    background-size: cover;
    padding: .13333rem .53333rem 1.2rem
}


.mian .box[data-v-3966082f] {
                padding: .4rem;
                height:100vh;
            }

            .mian .box .list[data-v-3966082f] {
                background: #f7f8ff;
                border-radius: .4rem;
                overflow: hidden
            }

            .mian .box .list .item[data-v-3966082f] {
                padding: .26667rem .4rem;
                background: #FFF
            }

            .mian .box .list .item .money[data-v-3966082f] {
                font-size: .4rem;
                color: #fb4e4e
            }

            .mian .box .list .item .money.action[data-v-3966082f] {
                color: #6abe57
            }

            .mian .box .list .item .number[data-v-3966082f],.mian .box .list .item .time[data-v-3966082f] {
                font-size: .32rem;
                color: #fff
            }

            .mian .box .list .item .number[data-v-3966082f] {
                font-size: .4rem
            }

            .dailySignIn__container-content[data-v-c4f3162c] {
    padding-inline: .32rem;
}

            .mian .box .list .item .number .btn[data-v-3966082f] {
                padding: .13333rem .26667rem;
                font-size: .32rem;
                margin-left: .26667rem;
                border-radius: .13333rem;
                background-color: #ffce1f;
                color: #fff
            }

            .mian .box .list .item .state[data-v-3966082f] {
                text-align: center;
                font-weight: 600
            }

            .mian .box .list .item .txt[data-v-3966082f] {
                text-align: center
            }


.dailySignIn__container-hero[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            height: 6.13333rem;
            margin-bottom: .42667rem;
            padding: 0 .4rem .26667rem;
            background: url(/images/headerBg-ca048249.png) no-repeat center / cover;
            background-color: #FFF;
            background-position: bottom;
            }

           

            .dailySignIn__container-hero__header[data-v-c4f3162c] {
            color: #000;
            }

            .dailySignIn__container-hero__header h1[data-v-c4f3162c] {
            font-size: .53333rem;
            }
            .dailySignIn__container-hero__header div[data-v-c4f3162c] {
            display: inline-block;
            width: 4rem;
            margin-bottom: .21333rem;
            display: flex;
            padding: .21333rem .41333rem .21333rem .14667rem;
            color: #FFF;
            font-size: .37333rem;
            line-height: .32rem;
            background: #ffce1f;
            -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
            word-break: break-all;}
           
         
            .dailySignIn__container-hero__header h1[data-v-c4f3162c] {
            font-size: .53333rem;
            }
            .dailySignIn__container-hero__header h1[data-v-c4f3162c]:last-of-type {
    margin-bottom: 0;
    font-size: .50667rem;
    font-weight: 700;

}

            .dailySignIn__container-hero__header p[data-v-c4f3162c]:first-of-type {
            width: 5.33333rem;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            }
      
            .dailySignIn__container-hero__header p[data-v-c4f3162c]:last-of-type {
            margin-bottom: .08rem;
            }

            .dailySignIn__container-hero__footer[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-top: .53333rem;
            color: #fff;
                
            }

            .dailySignIn__container-content[data-v-c4f3162c] {
            padding-inline: .00rem;
            }

           
            .dailySignIn__container-content__wrapper[data-v-c4f3162c] {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: .2rem;
            }
            .dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 2.98667rem;
            height: 2.93333rem;
            background: url(/images/Unsigned-63d76784.png) no-repeat;
            background-position: center;
            background-size: 96% 100%;}

            .dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 2.98667rem;
            height: 2.93333rem;
            background: url(/images/Unsigned-63d76784.png) no-repeat;
            background-position: center;
            background-size: 96% 100%;
            }
            .dailySignIn__container-content__wrapper-block>span[data-v-c4f3162c] {
            color: #fff;
            font-size: .34667rem;
            }

            .dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            }
        
.dailySignIn__container-hero__footer button[data-v-c4f3162c] {
    width: 3.53333rem;
    height: .8rem;
    padding: .18667rem 0;
    color: #8f5206;
    font-size: .34667rem;
    line-height: .32rem;
    border: none;
    border-radius: 9rem;
    background: -webkit-linear-gradient(top, #FAE59F 0%, #C4933F 100%);
    background: linear-gradient(180deg, #FAE59F 0%, #C4933F 100%);
    cursor: pointer;
}
.dailySignIn__container-content__wrapper-block[data-v-c4f3162c] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 2.98667rem;
    height: 2.93333rem;
    background: url(/images/Unsigned-63d76784.png) no-repeat;
    background-position: center;
    background-size: 96% 100%;
}
.dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dailySignIn__container-content__wrapper-block img[data-v-c4f3162c] {
    max-width: 100%;
}
.dailySignIn__container-content__wrapper-block>img[data-v-c4f3162c] {
    width: 1.06667rem;
    height: 1.06667rem;
    margin-block: .18667rem .27773rem;
}
.dailySignIn__container-content__wrapper-block img[data-v-c4f3162c] {
    max-width: 100%;
}
.dailySignIn__container-content__wrapper-block__header[data-v-c4f3162c] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dailySignIn__container-content__wrapper-block__header img[data-v-c4f3162c] {
    width: 2.98667rem;
    height: .82667rem;
    /* visibility: hidden; */
}
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
/* .dailySignIn__container-content[data-v-c4f3162c] {
    padding-inline: .01rem;
} */
.dailySignIn__container-content__wrapper-block>span[data-v-c4f3162c] {
    color: #fff;
    font-size: .34667rem;
}
.dailySignIn__container-content__wrapper-block__header span[data-v-c4f3162c] {
    position: absolute;
    top: calc(50% - .02667rem);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .42667rem;
    line-height: 1;
}
.dailySignIn__container-content__wrapper-block[data-v-c4f3162c]:last-of-type {
    position: relative;
    width: 100%;
    grid-column: 1 / -1;
    background: url(/images/day7Bg-2dc29da0.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.dailySignIn__container-content__wrapper-block:last-of-type p[data-v-c4f3162c] {
    color: #fff;
    line-height: .66667rem;
    font-size: .4rem;
}
.dailySignIn__container-content__footer button[data-v-c4f3162c] {
    width: 100%;
    height: 100%;
    padding-block: .10667rem;
    color: #FFF;
    font-size: .48rem;
    border: none;
    border-radius: 9rem;
    background: -webkit-linear-gradient(top, #ffce1f 0%, #ffce1f 100%);
    background: linear-gradient(180deg, #ffce1f 0%, #ffce1f 100%);
}

.dailySignIn__container-content__footer[data-v-c4f3162c] {
    width: 100%;
    height: 1.06667rem;
    margin-top: 1.45333rem;
    padding: 0 1.13333rem;
    text-align: center;
}
.dailySignIn__container-content__wrapper-block:last-of-type>div>span[data-v-c4f3162c] {
    color: #fff;
    font-size: .4rem;
}
.dailySignIn__container-content__wrapper-block:last-of-type>div[data-v-c4f3162c] {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .36rem;
}


    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-11ffe290="" class="mian">
            <div data-v-106b99c8="" data-v-11ffe290="" class="navbar action">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/activity'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="bi bi-chevron-left" style="color: #FFF; font-size: 0.8rem;"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Rebate Rewards </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
           <div data-v-3966082f="" class="box" style="color: #FFC827;">
               <div data-v-3966082f="" class="list m-b-20">
                  <div data-v-3966082f="" role="feed" class="van-list">
                     <div class="lisys"></div>
                     <div data-v-a9660e98="" class="p-t-5 p-b-5">
                        <div data-v-c4f3162c="" class="dailySignIn__container-hero">
                           <div data-v-c4f3162c="" class="dailySignIn__container-hero__header">
                              <h1 data-v-c4f3162c="">Rebate bonus</h1>
                              <p data-v-c4f3162c="">Get rewards based on your bets.</p>
                              <div data-v-c4f3162c=""><div id="ratio"></div>Rebate bonus on your total Bets</div>
                              <p data-v-c4f3162c="">Accumulated</p>
                              <h1 data-v-c4f3162c="">₹<span id="accumulatedBonus">0.0</span></h1>
                           </div>
                           <div data-v-c4f3162c="" class="dailySignIn__container-hero__footer">
                              <span style="color: #000;    font-size: 0.4rem;
    font-weight: 600;">Unrebate - ₹<span id="bonus">0.0</span></span>
                           </div>
                           <input type="hidden" id="netAmount" value="0">
                        </div>
                        <div data-v-c4f3162c="" class="dailySignIn__container-content" id="rebate">
                           <div data-v-c4f3162c="" class="dailySignIn__container-content__footer">
                              <button data-v-c4f3162c="" class="" id="attendance-button">Rebate</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div data-v-7692a079="" data-v-3966082f="" class="Loading c-row c-row-middle-center" style="display: none;">
                     <div data-v-7692a079="" class="van-loading van-loading--circular">
                        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
                           <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                              <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                           </svg>
                        </span>
                     </div>
                  </div>
               </div>
                <div data-v-3966082f="" class="list2" style="color: #FFC827;">
                    <span style="font-size: 0.5rem; font-weight: 600;text-shadow: 3px -4px 8px rgba(255, 200, 39, 0.3);">Rule</span>
                    <ol style="line-height: 0.7rem;">
                        <li style="padding-top: 10px;">※ Get bonus rewards based on your total bets amount.</li>
                        <li style="padding-top: 10px;">※ The minimum amount you can collect is ₹ 1 in your rebate collection.</li>
                        <li style="padding-top: 10px;">※ If you don't come every day to collect the rebate bonus, the amount will be reset to zero.</li>
                    </ol>
                </div>
            </div> 
           
            <div data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
				<div data-v-7692a079="" class="van-loading van-loading--circular">
					<span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/png/image.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/logo.png"></image>
                            </g>
                        </svg>
                    </span>
				</div>
			</div>
         
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
       
      $('#rebate').click(function(e) {
                e.preventDefault();
                const netAmount = $('#netAmount').val();
                const bonus = $('#bonus').text();
                const accumulatedBonus = $('#accumulatedBonus').text();
                $.ajax({
                    type: 'POST',
                    url: '/api/webapi/rebate-collect',
                    data: JSON.stringify({ netAmount: parseFloat(netAmount), bonus: parseFloat(bonus) }),
                    contentType: 'application/json',
                    success: function(response) {
                        alertMess(response.message, $('#attendance-button'));
                        if (response.status) {
                                $('#accumulatedBonus').text(bonus);
                                $('#bonus').text(0);
                            }
                    },
                    error: function(xhr, status, error) {
                        alertMess('Failed to process bonus', $('#attendance-button'));
                    }
                });
            });
            
          
           $.ajax({
    type: 'GET',
    url: '/api/webapi/rebate-fetch',
    success: function(response) {
        console.log('Attendance Info Response:', response); 
        console.log(' Info Response:', response.data.amount); 
        
            const amount = parseFloat(response.data.amount); // Accessing amount from response
            console.log(amount)

            if (amount) {
                // Display the amount in the #bonus element
                $('#bonus').text(amount);
                
                // Set the value of the #netAmount input field
                $('#netAmount').val(amount); // Using .val() instead of .value
            } else {
                console.log('Invalid amount:', response.data.amount);
            }
       
    },
    error: function(xhr, status, error) {
        alert('Failed to fetch rebate info');
    }
});
      
    </script>
    <script>
        $(window).on('load', function() {
			$('.Loading').fadeOut(0);
		});
    </script>
</body>

</html>