<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Spinzo</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        .mian[data-v-439e6f58]{background-color:#242424}
        
        .StrongBox__container-dailyRate[data-v-6455ca11] {
            margin: auto;
            width: 4.16rem;
            height: 0.53333rem;
            line-height: .53333rem;
            text-align: center;
            color: #fff;
            background: #2a2a2a;
            border-radius: 0.53333rem;
            font-weight: 400;
            font-size: .32rem;
            font-style: normal;
            box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
            margin-bottom: 0.26667rem;
            margin-top: 0.4rem;
        }

        .TotalAssets__container[data-v-ffd9d03e] {
            width: 97%;
    height: 3.6667rem;
    background: #333332;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0.26667rem;
    color: #fff;
    padding: 0.38667rem 0.33333rem 0;
    margin: 6px;
        }

        .TotalAssets__container-header[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            height: 0.53333rem;
            justify-content: center;
            align-items: center;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e] {
            font-weight: 400;
            font-size: .34667rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            height: 0.53333rem;
            border: 0.01333rem solid #ffffff;
            border-radius: 0.08rem;
            font-weight: 400;
            font-size: .29333rem;
            padding: 0 0.36rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-main[data-v-ffd9d03e] {
            height: 0.73333rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 0.21333rem 0.37333rem 0.37333rem 0;
            font-weight: 700;
            font-size: .64rem;
            text-shadow: 0 0.01333rem 0 rgba(0, 0, 0, .12);
            justify-content: center;
            align-items: center;
        }

        .TotalAssets__container-tip[data-v-ffd9d03e] {
            font-size: .29333rem;
        }
        .StrongBox__container-income[data-v-6455ca11] {
    margin-top: 0.26667rem;
    min-height: 5.13333rem;
    background: #ffffff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    border-radius: 0.13333rem;
    padding: 0.4rem 0.18667rem 0.10667rem;
}

.StrongBox__container-income-header[data-v-6455ca11] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-left-num[data-v-6455ca11] {
    color: #f13f39;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .48rem;
}
.StrongBox__container-income-header-left-text[data-v-6455ca11], .StrongBox__container-income-header-right-text[data-v-6455ca11] {
    height: 0.37333rem;
    font-size: .32rem;
    color: #2f2f34;
    margin: 0.16rem 0;
}
.StrongBox__container-income-header-left-myrale[data-v-6455ca11], .StrongBox__container-income-header-right-myrale[data-v-6455ca11] {
    height: 0.48rem;
    border: 0.01333rem solid #dbdbdb;
    border-radius: 0.53333rem;
    min-width: 2.93333rem;
    font-size: .29333rem;
    color: #a8abc0;
    margin: auto;
}.StrongBox__container-income-header-right[data-v-6455ca11] {
    border-left: 0.01333rem solid #daddf0;
}

.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-right-num[data-v-6455ca11] {
    color: #333;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}
.StrongBox__container-income-buttom>div+div[data-v-6455ca11] {
    background: #f13f39;
    color: #fff;
}

.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}


.StrongBox__container-income-tip[data-v-6455ca11] {
    font-size: .29333rem;
    color: #f13f39;
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
}
.StrongBox__container-errorTip[data-v-6455ca11] {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.12rem;
}
.StrongBox__container-income-godetail[data-v-6455ca11] {
    text-align: center;
    height: 0.4rem;
    line-height: .4rem;
    font-size: .32rem;
    color: #888;
    margin-top: 0.46667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.StrongBox__container-income-godetail img[data-v-6455ca11] {
    width: 0.42667rem;
    height: 0.42667rem;
}

.StrongBox__container-income-buttom[data-v-6455ca11] {
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 9.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #ffffff;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background: radial-gradient(ellipse at top left, #EEBD54 0%,rgb(215 130 7) 57%);
}

/* 
.color-box {
            width: 30px;
            height: 30px;
            display: inline-block;
        }
        .big {
            background-image: url('/images/big.png');
            background-size: contain;
        }
        .small {
            background-image: url('/images/small.png');
            background-size: contain;
        }
        .violet { background-color: violet;border-radius: 1px; }
        .red { background-color: red;border-radius: 1px; }
        .green { background-color: green;border-radius: 1px; }
        .red-violet { background-color: #D02090;border-radius: 1px; }
        .green-violet { background-color: #ADFF2F; border-radius: 1px;} */


       


 .rechargeh__container-content__item[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .21333rem;
    padding: .32rem .13333rem;
    border-radius: .13333rem;
    background-color: #2a2a2a;
}
.rechargeh__container-content__item-body[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .13333rem;
    font-size: .32rem;
    color: #a8a5a1;
}
.rechargeh__container-content__item-body>div[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
* {
    box-sizing: border-box;
    font-family: bahnschrift;
}
* {
    -webkit-user-select: none;
    user-select: none;
}
.rechargeh__container[data-v-e4760c44] {
    padding-inline: .32rem;
    padding-block: 0 1.49333rem;
    font-family: bahnschrift;
}
.svg-icon {
    width: 1em;
    height: 1em;
    fill: var(--svgHoticon);
    vertical-align: middle;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.rechargeh__container-content__item-body>div:first-of-type span[data-v-e4760c44]:last-of-type {
    color: #ed6a0c;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:nth-of-type(2) {
    margin-left: auto;
    text-align: right !important;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:last-of-type {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44] {
    padding: 0 .26667rem;
    margin: .06667rem 0;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:first-of-type {
    -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}
.rechargeh__container-content__item-header[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    padding-bottom: .13333rem;
}
.ar-1px-t, .ar-1px-b, .ar-1px-tb, .ar-1px-rb, .ar-1px-l, .ar-1px-r {
    position: relative;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:first-of-type {
    margin-left: .13333rem;
    background: #d23838;
    border: .01333rem solid #d23838;
    border-radius: .13333rem;
}
.rechargeh__container-content__item-header span.stateG[data-v-e4760c44] {
    color: #17b15e;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:last-of-type {
    margin-left: auto;
    text-align: right;
    color: var(--main-color);
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:nth-of-type(2) {
    text-align: left;
}
.rechargeh__container-content__item-header span[data-v-e4760c44] {
    min-width: 2rem;
    height: .66667rem;
    font-size: .37333rem;
    text-align: center;
    line-height: .66667rem;
    color: #fff;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:last-of-type {
    margin-left: auto;
    text-align: right;
    color: var(--main-color);
}

.infiniteScroll[data-v-cbab7763] {
    min-height: 2.66667rem;
    border-radius: .16rem;
}


.infiniteScroll[data-v-cbab7763] {
    min-height: 2.66667rem;
    border-radius: .16rem;
}

.infiniteScroll__loading[data-v-7189a457] {
    width: 100%;
    min-height: 1.4rem;
    margin-top: auto;
    padding-bottom: .4rem;
    color: #a6a9ae;
    font-size: .37333rem;
    text-align: center;
}
.ar-1px-t, .ar-1px-b, .ar-1px-tb, .ar-1px-rb, .ar-1px-l, .ar-1px-r {
    position: relative;
}
.fun-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.navbar__content-center[data-v-2f448113] {
    color: #fff;
    font-size: .48rem;
    line-height: .48rem;
}
.navbar-fixed[data-v-2f448113] {
    position: fixed;
    top: 0;
    left: 50%;
    width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
}
.bet-container-lottery-card-header h1 h2[data-v-1d8fbc24] {
    font-weight: 700;
    font-size: .4rem;
    color: var(--text_color_L1);
    padding-bottom: .10667rem;
}

.page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}

.game .page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}
.block-click {
    pointer-events: none;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
.c-row-middle-center {
    align-items: center;
}
.c-row-center, .c-row-middle-center {
    justify-content: center;
}

 .page-nav .arr .icon[data-v-a9660e98] {
    color: #d8820a;
}

.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.van-icon, .van-icon:before {
    display: inline-block;
}
.van-icon {
    position: relative;
    font: normal normal normal .37333rem / 1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
 .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    color:white
}

.game .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    background-color: #2a2a2a;
}

 .page-nav .arr.action[data-v-a9660e98] {
    background-color: #d8820a;
}

.game .page-nav .arr.action[data-v-a9660e98] {
    background-color: #d8820a;
}

 .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}

.game .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}
 .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}




</style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-439e6f58="" class="mian">
            <div data-v-106b99c8="" data-v-439e6f58="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/user-roi'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">BOT AI </div>
                <div data-v-106b99c8="" class="navbar-right">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" style="width:.66667rem;height:.66667rem">
                        </i>
                    </div>
                </div>
            </div>
           <div data-v-14912091="" class="box">
   <div data-v-14912091="" class="table">
      <div data-v-14912091="" class="list">
         
            <div data-v-3966082f="" role="feed" class="van-list">
               <div class="lisys">
                   
               </div>
            </div>
            <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc" id="pagination-controls" style="
               padding-bottom: 0.5333rem;
               padding-bottom: .53333rem;
               height: 1.06667rem;
               ">
               <div data-v-a9660e98="" class="arr c-row c-row-middle-center disabled" id="prev-page">
                  <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon action" style="font-size: 20px;">
                     <!---->
                  </i>
               </div>
               <div data-v-a9660e98="" class="number" id="page-info">0/0</div>
               <div data-v-a9660e98="" class="arr c-row c-row-middle-center action" id="next-page">
                  <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                     <!---->
                  </i>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
            <div data-v-7692a079="" data-v-439e6f58="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/png/image.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/logo.png"></image>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
  <!--  <script>-->
  <!--      fetch('/api/webapi/users-income-list')-->
  <!--.then((response) => response.json())-->
  <!--.then((data) => {-->
    <!--// Loader ko fade out karein-->
  <!--  $(".Loading").fadeOut(0);-->
    <!--// Agar status false hai, to cookie unset karein aur return karein-->
  <!--  if (data.status === false) {-->
  <!--      return false;-->
  <!--  }-->
  <!--  console.log(data)-->

    <!--// ROI data ko loop karein-->
  <!--  const ROI = data.data.list3;-->
  <!--  console.log(ROI)-->
    <!--const container = document.querySelector('.lisys'); // apne container ka selector-->

  <!--  ROI.forEach((user) => {-->
  <!--    const card = `-->
  <!--       <div data-v-cbab7763="" data-v-e4760c44="" class="infiniteScroll" id="refresh5fb40baadfa743dbbfe286bd2ff24447">-->
  <!--                <div data-v-e4760c44="" class="rechargeh__container-content__item">-->
  <!--                   <div data-v-e4760c44="" class="rechargeh__container-content__item-header ar-1px-b">-->
  <!--                      <span data-v-e4760c44="">AI Return Bonus</span>-->
  <!--                      <span data-v-e4760c44="" class="stateG"></span>-->
  <!--                   </div>-->
  <!--                   <div data-v-e4760c44="" class="rechargeh__container-content__item-body">-->
  <!--                      <div data-v-e4760c44=""><span data-v-e4760c44="">Balance</span><span data-v-e4760c44="">₹ ${user.amount}</span></div>-->
  <!--                      <div data-v-e4760c44=""><span data-v-e4760c44="">Time</span><span data-v-e4760c44="">${new Date(user.time).toLocaleString()}</span></div>-->
  <!--                      <div data-v-e4760c44=""><span data-v-e4760c44="">Remark</span><span data-v-e4760c44="">AI Return Bonus</span></div>-->
  <!--                      <div data-v-e4760c44=""><span data-v-e4760c44="">Level</span><span data-v-e4760c44="">9</span></div>-->
  <!--                   </div>-->
  <!--                </div>-->
  <!--             </div>-->
  <!--    `;-->

      <!--container.innerHTML += card; // Append each card to the container-->
  <!--  });-->
  <!--})-->
  <!--.catch((error) => console.error('Error fetching ROI data:', error));-->

  <!--  </script>-->
  
  <script>
  let currentPage = 1;
  const itemsPerPage = 5;
  let ROI = [];

  fetch('/api/webapi/users-income-list')
    .then((response) => response.json())
    .then((data) => {
      $(".Loading").fadeOut(0);

      if (data.status === false) {
        return false;
      }

      console.log(data);

      ROI = data.data.list3;
      displayItems(currentPage);
      updatePageInfo();
    })
    .catch((error) => console.error('Error fetching ROI data:', error));

  function displayItems(page) {
    const container = document.querySelector('.lisys');
    container.innerHTML = ""; // Purani items ko clear karein

    const start = (page - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    const paginatedItems = ROI.slice(start, end);
    
    
    if (ROI.length === 0) {
      // Agar data nahi hai, toh "No More DATA" show karein
      container.innerHTML = `<div>No Data</div>`;
      return; // Return yaha pe taaki niche ka code execute na ho
    }

    paginatedItems.forEach((user) => {
      const card = `
        <div data-v-cbab7763="" data-v-e4760c44="" class="infiniteScroll" id="refresh5fb40baadfa743dbbfe286bd2ff24447">
          <div data-v-e4760c44="" class="rechargeh__container-content__item">
            <div data-v-e4760c44="" class="rechargeh__container-content__item-header ar-1px-b">
              <span data-v-e4760c44="">AI Return Bonus</span>
              <span data-v-e4760c44="" class="stateG"></span>
            </div>
            <div data-v-e4760c44="" class="rechargeh__container-content__item-body">
              <div data-v-e4760c44=""><span data-v-e4760c44="">Balance</span><span data-v-e4760c44="">₹ ${user.amount}</span></div>
              <div data-v-e4760c44=""><span data-v-e4760c44="">Time</span><span data-v-e4760c44="">${new Date(user.time).toLocaleString()}</span></div>
              <div data-v-e4760c44=""><span data-v-e4760c44="">Remark</span><span data-v-e4760c44="">AI Return Bonus</span></div>
              <div data-v-e4760c44=""><span data-v-e4760c44="">Level</span><span data-v-e4760c44="">${user.level}</span></div>
            </div>
          </div>
        </div>
      `;
      container.innerHTML += card;
    });
  }

  function updatePageInfo() {
    const totalPages = Math.ceil(ROI.length / itemsPerPage);
    document.getElementById("page-info").textContent = `${currentPage}/${totalPages}`;
    document.getElementById("prev-page").classList.toggle("disabled", currentPage === 1);
    document.getElementById("next-page").classList.toggle("disabled", currentPage === totalPages);
  }

  document.getElementById("next-page").addEventListener("click", () => {
    const totalPages = Math.ceil(ROI.length / itemsPerPage);
    if (currentPage < totalPages) {
      currentPage++;
      displayItems(currentPage);
      updatePageInfo();
    }
  });

  document.getElementById("prev-page").addEventListener("click", () => {
    if (currentPage > 1) {
      currentPage--;
      displayItems(currentPage);
      updatePageInfo();
    }
  });
</script>
</body>

</html>