<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Spinzo</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon" />
    <style>

:root {
    --main-color: #FF7172;
    --main_gradient-color: linear-gradient(270deg, #FF897C 0%, #F95959 100%);
    --norm_red-color: #FF7172;
    --norm_green_color: #18B660;
    --norm_blue_color: #6EA8F4;
    --norm_secondary_color: #FEAA57;
    --text_color_L1: #333333;
    --text_color_L2: #666666;
    --text_color_L3: #999999;
    --text_color_L4: #FFFFFF;
    --bg_color_L1: #F7F8FF;
    --bg_color_L2: #FFFFFF;
    --bg_color_L3: #F3F3F3;
    --Dividing-line_color: #E1E1E1;
}
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        .mian[data-v-439e6f58]{background-color:#f1f3ff}.mian .banner[data-v-439e6f58]{position:relative}.mian .banner .img[data-v-439e6f58]{height:4.53333rem;width:100%}.mian .banner .com[data-v-439e6f58]{position:absolute;top:50%;right:.53333rem;z-index:888;transform:translateY(-65%)}.mian .banner .com .logo[data-v-439e6f58]{width:3.2rem;height:1.06667rem}.mian .banner .com .number[data-v-439e6f58],.mian .banner .com .txt[data-v-439e6f58]{font-size:.42667rem;font-weight:600;color:#fff}.mian .banner .com .number[data-v-439e6f58]{height:.8rem;line-height:.8rem;text-align:center;color:#f3c300;border:.02667rem solid #f3c300}.mian .list[data-v-439e6f58]{padding:.4rem}.mian .list .item[data-v-439e6f58]{height:1.33333rem;background:#fff;border-radius:.24rem;margin-bottom:.53333rem;font-size:.42667rem;padding:0 .4rem}
    
		.home-main[data-v-6d5b7288] {
			width: 100%;
		}


.home-main .banner[data-v-6d5b7288] {
    position: relative
}

.home-main .banner img[data-v-6d5b7288] {
    width: 100%;
    max-height: 3.44rem
}

.home-main .banner .banner-text p[data-v-6d5b7288]:first-child {
    font-size: .37333rem;
    font-weight: 600;
    margin-bottom: .13333rem
}

.home-main .banner .banner-text p[data-v-6d5b7288]:last-child {
    font-size: .32rem;
    color: var(--text_color_L2)
}

.home-main .van-btn[data-v-6d5b7288] {
    margin: .13333rem;
    width: 4rem;
    font-size: .42667rem
}

.home-main .selfService[data-v-6d5b7288] {
    padding: .26667rem
}

.home-main .selfService h2[data-v-6d5b7288] {
    font-size: .42667rem;
    margin-bottom: .26667rem
}

.home-main .selfService ul[data-v-6d5b7288] {
    background: var(--text_color_L4);
    color: var(--text_color_L1);
    padding: 0 .26667rem
}

.home-main .selfService ul li[data-v-6d5b7288] {
    width: 100%;
    height: 1.6rem;
    padding: .26667rem 0;
    font-size: .37333rem;
    font-weight: 400;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center
}

.home-main .selfService ul li>div[data-v-6d5b7288] {
    display: flex;
    align-items: center
}

.home-main .selfService ul li svg[data-v-6d5b7288] {
    margin-right: .13333rem
}

.home-main .selfService ul li[data-v-6d5b7288]:not(:last-child) {
    border-bottom: .01333rem solid var(--Dividing-line_color)
}

.home-main .reminder[data-v-6d5b7288] {
    padding: .26667rem
}

.home-main .reminder h2[data-v-6d5b7288] {
    font-size: .42667rem;
    margin-bottom: .26667rem
}

.home-main .reminder div[data-v-6d5b7288] {
    font-size: .32rem;
    color: var(--text_color_L2)
}

.home-main .reminder div p[data-v-6d5b7288] {
    margin-bottom: .06667rem
}

.home__footer[data-v-6d5b7288] {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg_color_L1)
}

.home__footer button[data-v-6d5b7288] {
    height: 1.06667rem;
    width: 90%;
    color: var(--text_color_L4);
    font-size: .4rem;
    border-radius: 1.06667rem;
    margin: .53333rem 0;
    background: var(--main_gradient-color);
	border: none;
}

.home__footer button.fixed[data-v-6d5b7288] {
    position: fixed
}

	</style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-439e6f58="" class="mian">
            <div data-v-106b99c8="" data-v-439e6f58="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Support</div>
                <div data-v-106b99c8="" class="navbar-right">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" style="width:.66667rem;height:.66667rem">
                        </i>
                    </div>
                </div>
            </div>
			<main data-v-6d5b7288="" class="home-main">
				<div data-v-6d5b7288="" class="banner"><img data-v-6d5b7288="" src="/images/aboutBg-0e9d0afa.png" alt=""></div>
				<div data-v-6d5b7288="" class="selfService">
				   <h2 data-v-6d5b7288="">Self Service</h2>
				   <ul data-v-6d5b7288="">
					  <li data-v-6d5b7288=""  onclick="location.href='/wallet/rechargerecord'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support1.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Deposit Not Receive</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="location.href='/wallet/addBank'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support2.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">IFSC Modification</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="location.href='/wallet/addBank'">
						 <div data-v-6d5b7288="" class="service-text" >
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support3.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Update Withdraw  Bank Account  and Rebind</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="location.href='/wallet/withdrawalrecord'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support4.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Withdrawal problem</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="window.location='/mian/forgot'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support5.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Change ID Login Password</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="location.href='/wallet/addBank'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support6.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Change bank name</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="window.location='/wallet/add_bep'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support7.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Update Old USDT Address and Rebind	</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" onclick="window.location='/game-problam-page'">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support8.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Game Problems</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" >
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support9.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Event Bonus</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="" >
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support10.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Spinzo Agent Customer Service	</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <li data-v-6d5b7288="">
						 <div data-v-6d5b7288="" class="service-text">
							<div data-v-6d5b7288="" class="van-image" style="width: 40px; height: 40px;">
							   <img src="assets/png/support8.png" class="van-image__img"><!----><!---->
							</div>
							<span data-v-6d5b7288="" style="margin-left: 10px;">Spinzo Tutorial Center</span>
						 </div>
						 <svg data-v-392c0849="" data-v-6d5b7288="" class="svg-icon">
							<use data-v-392c0849="" xlink:href="#icon-arrow"></use>
						 </svg>
					  </li>
					  <!---->
				   </ul>
				</div>
				<div data-v-6d5b7288="" class="reminder">
				   <h2 data-v-6d5b7288="">Kind tips</h2>
				   <div data-v-6d5b7288="">
					  <p data-v-6d5b7288="">1.Hello from Spinzo Self-Service Center!</p>
					  <p data-v-6d5b7288="">2.Submit the issue in accordance with the problem you encountered and our expert team will handle it faster!</p>
					  <p data-v-6d5b7288="">3.To access more questions, please log in to the game first</p>
				   </div>
				</div>
				<footer data-v-6d5b7288="" class="home__footer"><button data-v-6d5b7288="" style="background: rgb(250, 139, 25);" onclick="window.location='/support-record-page'">Progress query</button></footer>
			 </main>
            <div data-v-7692a079="" data-v-439e6f58="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/png/image.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/logo.png"></image>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>
