<div data-v-a9660e98="" class="game-head">
    <div data-v-a9660e98="" class="total-box">
        <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info" style="flex-direction: column-reverse; color: #fff; line-height: 1rem;">
            <div data-v-a9660e98="" class="c-row c-row-middle">
                
                <div data-v-a9660e98="">
                    <h3 data-v-a9660e98="" class="total m-b-5">Wallet Balance</h3>
                    <!-- <span data-v-a9660e98="" class="wallet"></span> -->
                </div>
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="num">
                    <span data-v-a9660e98="">₹ 0.00 </span>
                </div>
                <div data-v-a9660e98="" class="van-image img m-l-10 reload_money" style="width: 15px; height: 15px">
                    <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
                </div>
            </div>
        </div>
        <div data-v-a9660e98="" class="total-btn c-row c-row-between">
            
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="border-radius: 0.13333rem;
                    line-height: .8rem;
                    background: linear-gradient(#6afa7b, #226235);
                    border-radius: 0.53333rem;
                    font-weight: 600;
                    font-size: .37333rem;
                    color: #000;
                    text-align: center;
                    border: none;
                    ">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Recharge
                        </span>
                    </div>
                </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="border-radius: 0.13333rem;
                    color: #FFF;
                    font-weight: 400;
                    border-radius: 0.53333rem;
                    font-weight: 600;
                    font-size: .37333rem;
                    background-color: #000;
                    border: .02667rem solid #000;">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Withdraw
                        </span>
                    </div>
                </button>
            </div>
            
        </div>
    </div>
    <div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container" style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
        <!---->
        <div data-v-b3a5ca79="" class="noticeBar__container-body">
           <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Hello, withdrawals typically take 1-2 hours to
              process. We appreciate your patience and request that you wait for the status success before attempting to
              access your bank or e-wallet. Happy gaming!
           </div>
        </div>
        <button data-v-b3a5ca79="">Detail</button>
     </div>
</div>